body {
  padding: 30px 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.hidden {
  display: block !important;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  display: table;
}